.addressBox {
  background-color: rgb(248, 249, 250);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #eeeeee;

  p {
    margin: 0;
    color: #3e465d !important;
    font-weight: 400;
  }
  margin-bottom: 1rem;
}
