.table {
  border-collapse: collapse;
  border-radius: 8px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #eee; /* this draws the table border  */
  td {
    border-top: 1px solid #eee;
    // padding: 20px !important;
  }
  th {
    color: #999;
  }
  thead {
    background-color: rgb(248, 249, 250);
  }
  tbody {
    border-top: none !important;
  }
}
